.ProductCard{
    background-color: var(--secondary-colour);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18rem;
    margin: 0 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    box-shadow: 5px 5px 10px rgba(36, 34, 34, 0.356);
}

.ProductCardImage{
    object-fit: cover;
    filter: drop-shadow(5px 5px 10px rgba(34, 32, 32, 0.507));
    margin: 1rem;
}

.ProductPrice{
    font-size: 1.2rem;
    margin: 0;
    color: var(--primary-colour);
}

.ProductCardTitle{
    color: var(--primary-colour);
    font-size: var(--font-subtitle);
    margin: .8rem 0;
}

.LinkButton{
    background-color: var(--primary-colour);
    color: var(--secondary-colour);

    border-radius: 5px;
    padding: .6rem 1.4rem;
    margin: 1rem;
}