.CheckoutContainer{
    height: 100vh;
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CheckoutContainerItem{
    width: 60%;
    min-height: 80vh;
    margin: 5rem auto;
}

.CheckoutContainerItemWrapper{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.CheckoutWrapper h1{
    text-align: center;
}