.Main{
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.DisplayImage{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.MainHeading{
  color: var(--brown);
  width: 30%;
  z-index: 100;
  
}

.MainWrapper{
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 10rem;
  width: 100%;
  height: 80%

}


.Pannel{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
}

.PannelItem{
  padding: 0;
  margin: 0;
  width: 100%;
  /* min-height: 80%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.PannelItem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.PannelText{
  padding: 8rem;
  padding-top: 3rem;
  text-align: left;
}

.PannelText h2{
  margin-bottom: 2rem;
}

.MainPannel{
  background-color: var(--brown);
  color: white;
}

.SecondaryPannel{
  background-color: var(--secondary-colour);
  color: var(--brown);
}